body {
    font-family: arial black, Helvetica, sans-serif;
    font-size: large;
    margin: 0;
    background-color: #EAEBED;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style: none;
}

#main_menu ul {
    list-style: none;
    padding-left: 0;
    background-color: rgb(3, 69, 110);
}

#main_menu ul li a {
    padding: 25px 80px 25px 20px;
    color: rgb(241, 170, 44);
    display: block;
}

#main_menu ul.level_1>li {
    display: inline-block;
}

#main_menu ul.level_1>li>a:hover {
    color: #000000;
    background-color: rgb(241, 170, 44);

}

#main_menu ul.level_2 {
    display: none;
    position: absolute;
    z-index: 9999;
}

#main_menu ul.level_2 li a:hover {
    color: #000000;
    background-color: rgb(241, 170, 44);
}

#main_menu ul.level_1>li:hover ul.level_2 {
    display: block;
}

nav {
    padding: 0 10%;
    background-color: rgb(3, 69, 110);
}

div {
    padding: 0 10%;
    align-content: center;
}

.content {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0;
}

.content_2 {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 75px;
    padding: 0;
}

.content_3 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 720px;
    height: 100px;
    cursor: grabbing;
}

.content_3::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.content_4 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
}

.logo {
    padding: 0;
    width: 250px;
}

img {
    padding: 10px 5px 0;
    display: inline-block;

}

.logo_1 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 20px 0;
    padding: 10px;
    width: 200px;
    background-color: rgb(3, 69, 110);
}

.logo_1:hover {
    background-color: rgb(4, 93, 148);
}

.logo_2 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    background-color: rgb(241, 170, 44);
}

.logo_2:hover {
    background-color: #edc25f;
}

.img_2 {
    padding: 0 5px;
    opacity: 0.5;
    transition: all 0.3s ease-out;
    white-space: nowrap;
    display: inline-block;
    height: 100px
}

.img_2:hover {
    opacity: 1.0;
    transform: scale(1.1, 1.1);
}

.img_3 {
    height: 500px;
    padding: 0;
    transition: all 0.3s ease-out;
}

.img_3:active {
    transform: scale(1.1, 1.1);
}

.image-container {
    overflow: hidden;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.zoom-image {
    height: 500px;
    padding: 0;
    transition: transform 0.5s ease;
}

.zoom-image:hover {
    transform: scale(1.5);
    position: relative;
}

h4 {
    color: rgb(241, 170, 44);
    margin: 0;
    padding: 0 0 10px;
}